<div class="carsTitle">List Of Cars</div>

<div *ngFor="let carDisplay of carDisplay">
<ul>
   <li >{{carDisplay.car.make}}</li>
   <li class="carmodel">{{carDisplay.car.model}}</li>
 </ul> 

<div class="carshow">{{carDisplay.carShow}}</div>
   </div>